<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta">
      <span class="author p-author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-name" itemprop="name"><% if (page.author) { %><%- page.author %><% } else { %><%- config.author %><% } %></span>
      </span>
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <%- partial('_partial/post/category') %>
      <%- partial('_partial/post/tag') %>
    </div>
  </header>
  <%- partial('_partial/post/gallery') %>
  <div class="content e-content" itemprop="articleBody">
    <%- page.content %>
  </div>
  <div style="background-color: #333; padding: 10px; border-radius: 5px; color: white;">
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 22px;">
        本作品
        <a id="current-page-link" style="text-decoration: none; color: #55acee; vertical-align: bottom;">[页面标题]</a> 
        由 
        <span id="authors-container" style="text-decoration: none; color: #55acee; vertical-align: bottom;">
          <!-- 动态生成的作者链接将被放置在这里 -->
      </span> 
        创作，采用 
        <span style="vertical-align: bottom;">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh-hans" target="_blank" rel="license noopener noreferrer" style="text-decoration: none; color: #55acee; vertical-align: bottom;">
                CC BY-NC-SA 4.0
            </a>
            <img style="height:22px; margin-left:3px; vertical-align: middle; display:inline-block;" src="https://src.mealuet.com/cc.svg">
            <img style="height:22px; margin-left:3px; vertical-align: middle; display:inline-block;" src="https://src.mealuet.com/by.svg">
            <img style="height:22px; margin-left:3px; vertical-align: middle; display:inline-block;" src="https://src.mealuet.com/nc.svg">
            <img style="height:22px; margin-left:3px; vertical-align: middle; display:inline-block;" src="https://src.mealuet.com/sa.svg">
        </span>
    </p>
  </div>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          var currentPageLink = document.getElementById('current-page-link');
          currentPageLink.href = window.location.href;
          currentPageLink.textContent = document.title;
          // 获取并处理文章作者名
          var authorsText = document.querySelector('.author').textContent;
          var authors = authorsText.split(',').map(author => author.trim());
          // 读取 authors.json 文件
          fetch('/authors.json') // 确保这里的路径指向您的 authors.json 文件
              .then(response => response.json())
              .then(authorsData => {
                  var authorsContainer = document.getElementById('authors-container');
                  authorsContainer.innerHTML = ''; // 清空容器的内容
                  authors.forEach((author, index) => {
                      var authorElement;
                      if (authorsData[author] && authorsData[author] !== "") {
                          // 如果作者存在且有对应的链接
                          authorElement = `<a href="${authorsData[author]}" rel="cc:attributionURL dct:creator" style="text-decoration: none; color: #55acee; vertical-align: bottom;">${author}</a>`;
                      } else {
                          // 如果没有链接或作者不存在于 authors.json 中
                          authorElement = author;
                      }
                      // 检查是否是最后一个作者
                      if (index < authors.length - 1) {
                          authorElement += ', ';
                      }
                      authorsContainer.insertAdjacentHTML('beforeend', authorElement);
                  });
              })
              .catch(error => console.log('Error loading authors.json:', error));
      });
  </script>
</article>
<%- partial('_partial/comments') %>
